/* Main page styling */
body {
    background-color: #36393f;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100vw;
    min-height: 100vh;
    min-height: 100dvh; /* https://www.w3.org/TR/css-values-4/#viewport-variants */
    overflow-x: hidden;
    margin: 0;
}

main {
    padding: 1rem 3rem;
}

/* Hyperlink styling */
a {
    color: #3c95cf;
}

/* Title styling */
header {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 20px;
    text-align: center;

    padding: 0.5rem 3rem;
}

h1 {
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid gray;
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Discord embed-style cards */
.card {
    background-color: #2f3136;
    border-radius: 4px;
    width: 25rem;
    min-height: 200px;

    /* Left border (colour is specified in JS) */
    border-left: 4px solid var(--border-color);

    display: flex;
    flex-direction: row;

    /* Add a gap around the cards */
    margin: 0.5rem;
}

.card.fronting {
    /* Subtle shadow */
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.33);
}

/* Make the cards for non-fronting members partially transparent */
.card.non-fronting {
    opacity: 25%;
}

.card img {
    /* Scales the avatar to fit the image  */
    object-fit: cover;

    /* Avatar size */
    width: 200px;
    height: 200px;

    /* Curve the right corners, but not the left ones that are against the
    left border of the card */
    border-radius: 0 5% 5% 0;
}

.card-info {
    display: flex;
    flex-direction: column;

    /* Gap between text and avatar */
    padding-left: 1em;

    /* Gap between the text and the top of the card */
    padding-top: 1rem;
}

.card-info h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-info h2 + p {
    margin-top: 0;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="submit"], .button, button {
    all: unset;
    user-select: none;
    cursor: pointer;

    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 4px;

    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

input[type="submit"]:hover, .button:hover, button:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-color: white;
    text-decoration: underline;
}

input[type="submit"]:active, input[type="submit"]:focus,
.button:active, .button:focus,
button:active, button:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.system-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.system-form > label {
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="text"] {
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.25);

    margin-top: 2px;
    margin-bottom: 8px;
    padding: 4px;

    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

input[type="text"]:hover {
    color: white;
    border-color: white;
}

input[type="text"]:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.credits {
    margin-left: 0.2rem;
}

.credits-list {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    width: fit-content;
}

.credits-list > li > h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.credits-list > li > ul {
    list-style: none;
    padding-left: 0;
}

.credits-list > li > ul > li::before {
    content: "-";
    user-select: none;
    margin-right: 1em;
}

/* For screens where  */
@media screen and (max-width: 940px) {
    main {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    header {
        font-size: 14px;
        padding-bottom: 0;
    }

    .card {
        flex-direction: column;
        width: 100%;
        height: fit-content;

        border-left: none;

        border-top: 4px solid var(--border-color);

        align-items: center;
    }

    .card img {
        margin-top: 0.5rem;
        border-radius: 5%;
    }

    .card-info {
        align-items: center;
        padding-left: 0;
    }

    input[type="submit"], .button, button {
        padding: 3px 7px;
    }
}
