/* Max avatar size */
img {
    max-width: 200px;
    max-height: 200px;
    /* border: 2px solid #F0F0F0; */
    border-radius: 0 5% 5% 0;
    margin-right: 10px;
}

/* Main page styling */
body {
    background-color: #36393f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Hyperlink styling */
a {
    color: #3c95cf;
}

/* Title styling */
#title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 40px;
}

/* Embed-style fronter items */
.fronter {
    background-color: #2f3136;
    border-radius: 4px;
    border-left: 4px solid #202225;
    width: 300px;
    overflow: auto;
}
