img {
    max-width: 200px;
    max-height: 200px;
}

body {
    background-color: #37393f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .container {
    background-color: #2f3136;
    border-radius: 5px;
    border-left: 4px solid aqua;
    width: 300px;
} */